/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 10, ../../app/stylesheets/screen.sass */
body {
  background-color: #992027;
  background-image: url(/images/red091.jpg);
  color: #eeeeee;
  font-family: "Ubuntu", sans-serif;
}

/* line 17, ../../app/stylesheets/screen.sass */
h1 {
  font-size: 3em;
  font-family: "Carter One";
  text-shadow: 2px;
}

/* line 21, ../../app/stylesheets/screen.sass */
#header {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  margin-top: 10px;
}

/* line 24, ../../app/stylesheets/screen.sass */
#container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  color: #333333;
  margin-top: 10px;
}
/* line 28, ../../app/stylesheets/screen.sass */
#container h3 {
  font-family: "Philosopher";
  font-size: 2em;
}
/* line 31, ../../app/stylesheets/screen.sass */
#container #maps {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #container #maps {
  overflow-x: hidden;
}
/* line 33, ../../app/stylesheets/screen.sass */
#container #maps #share {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #container #maps #share {
  overflow-x: hidden;
}
/* line 35, ../../app/stylesheets/screen.sass */
#container #maps #map {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
  height: 400px;
  background-color: #e8e8e2;
  border: 1px solid #777777;
  padding: 10px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #container #maps #map {
  overflow-x: hidden;
}
/* line 41, ../../app/stylesheets/screen.sass */
#container #maps #waypoints {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
  margin-top: 10px;
  background-color: #e8e8e2;
  padding: 10px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #container #maps #waypoints {
  overflow-x: hidden;
}
/* line 46, ../../app/stylesheets/screen.sass */
#container #maps #directions {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
  margin-top: 10px;
  background-color: #e8e8e2;
  padding: 10px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #container #maps #directions {
  overflow-x: hidden;
}
/* line 51, ../../app/stylesheets/screen.sass */
#container #maps #directions ol {
  margin-left: 20px;
}
/* line 53, ../../app/stylesheets/screen.sass */
#container #maps #directions ol li {
  list-style-type: decimal;
}
/* line 55, ../../app/stylesheets/screen.sass */
#container #maps #directions ul.distance {
  font-size: small;
  margin: 20px;
}
/* line 58, ../../app/stylesheets/screen.sass */
#container #maps #directions ul.distance li {
  list-style-type: disc;
}
/* line 60, ../../app/stylesheets/screen.sass */
#container #search {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 430px;
  background-color: #e8e8e2;
  padding: 10px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #container #search {
  overflow-x: hidden;
}

/* line 66, ../../app/stylesheets/screen.sass */
#footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  color: #eeeeee;
  font-size: small;
  text-align: center;
  margin-top: 15px;
}
/* line 147, ../../../../../.rvm/gems/ruby-1.9.2-p180@r3/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #footer {
  overflow-x: hidden;
}
